<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imoocmusic">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Myapplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".services.MusicService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".activities.PlayMusicActivity" />
        <activity android:name=".activities.AlbumListActivity" />
        <activity android:name=".activities.ChangePasswordActivity" />
        <activity android:name=".activities.MeActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>